@import '~bootstrap/scss/bootstrap';

$black: #000;
$lightblue: #bee;

.bottom {
  border-top: 3px solid $black;
}

.col-4 {
  font-size: 5em;
  line-height: 100%;
  text-align: center;
  width: 33.33333%;
}

.col-middle {
  border-left: 3px solid $black;
  border-right: 3px solid $black;
}

.game-board {
  background-color: $lightblue;
  border-radius: 10px;
  height: 60vh;
}

.game-info {
  margin: 3px;
  text-align: center;
}

.row {
  height: 33.333333%;
}

.top {
  border-bottom: 3px solid $black;
}

body {
  margin-bottom: 5vh;
}
